# =========================
# Unity generated folders
# =========================
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

# =========================
# Visual Studio / IDE
# =========================
.vs/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Memory Captures
# =========================
[Mm]emoryCaptures/

# =========================
# Crash reports
# =========================
sysinfo.txt

# =========================
# Database / cache files
# =========================
*.db
*.db-wal
*.db-shm
*-transactions.db

# =========================
# Unity metadata / cache files
# =========================
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db